<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.readium.r2.navigator">

    <application>
        <activity android:name=".R2EpubActivity" />
        <activity
            android:name=".TOCActivity"
            android:label="Table of Contents"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity android:name=".PrefActivity"></activity>
    </application>

</manifest>